.app{
  display: flex;
  margin: 50px auto;
  width: 70%;

    @media screen and (max-width:800px){
     width: 80%;
     flex-direction:column;
    }


  .homepage_container{
    width: 60%;
  }

  .img_container{
    width: 40%;
    text-align: center;
    margin: auto;

        @media screen and (max-width:800px){
    width: 300px;
    margin-top: 30px;
    }

    .img{
      width: 450px;
      opacity: 0.8;

    @media screen and (max-width:800px){
    width: 300px;
    }
    }
  }
}